jenkins:
  systemMessage: "Jenkins is a CI/CD tool that allows you to build, test, and deploy your code."
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "${JENKINS_ADMIN_PASSWORD}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: true

  nodes:
    - permanent:
        name: "jenkins-slave"
        nodeDescription: "An inbound agent configured with JCasC"
        remoteFS: "/var/jenkins_home"
        numExecutors: 2
        labelString: "jenkins-slave-team-3-new"
        mode: NORMAL
        retentionStrategy:
          always: {}
        launcher:
          inbound:
            workDirSettings:
              disabled: true
              internalDir: "remoting"
              workDirPath: "/var/jenkins_home"
              failIfWorkDirIsMissing: false

security:
  scriptApproval:
    approvedSignatures:
      - "method java.net.URL openConnection"
      - "method java.net.HttpURLConnection setRequestMethod java.lang.String"
      - "method groovy.lang.GString getBytes java.lang.String"
      - "method java.io.OutputStream write byte[]"
      - "method java.net.HttpURLConnection getResponseCode"
      - "method java.net.URLConnection getInputStream"
      - "method java.net.URLConnection getOutputStream"
      - "method java.net.URLConnection setDoOutput boolean"
      - "method java.net.URLConnection setRequestProperty java.lang.String java.lang.String"
      - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods getText java.io.InputStream"
      - "method java.net.URL openConnection"
      - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods putAt java.lang.Object java.lang.String java.lang.Object"

credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              id: "git-new-new"
              scope: GLOBAL
              description: "git-new-new"
              username: "${GIT_NEW_NEW_USERNAME}"
              password: "${GIT_NEW_NEW_PASSWORD}"
          - usernamePassword:
              id: "docker-hub-token"
              scope: GLOBAL
              description: "docker-hub-token"
              username: "${DOCKER_HUB_USERNAME}"
              password: "${DOCKER_HUB_PASSWORD}"
          - usernamePassword:
              id: "docker-hub-ron-token"
              scope: GLOBAL
              description: "docker-hub-ron-token"
              username: "${DOCKER_HUB_RON_USER}"
              password: "${DOCKER_HUB_RON_PASSWORD}"
          - usernamePassword:
              id: "aws-creds"
              scope: GLOBAL
              description: "AWS credentials for Terraform"
              username: "${AWS_ACCESS_KEY_ID}"
              password: "${AWS_SECRET_ACCESS_KEY}"

unclassified:
  location:
    adminAddress: "team3jenkins@no-reply.com"
    url: "${JENKINS_URL}"
  mailer:
    smtpHost: "smtp.gmail.com"
    smtpPort: 587
    useTls: true
    authentication:
      username: "${SMTP_USERNAME}"
      password: "${SMTP_PASSWORD}"
    replyToAddress: "team3jenkins@no-reply.com"
  extendedEmailPublisher:
    adminRequiredForTemplateTesting: false
    allowUnregisteredEnabled: true
    charset: "UTF-8"
    debugMode: false
    defaultBody: |
      $PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS:

      Check console output at $BUILD_URL to view the results.
    defaultSubject: "$PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS!"
    defaultSuffix: "@gmail.com"
    maxAttachmentSize: -1
    defaultRecipients: "coperman12@gmail.com, daniel.mazhbits@gmail.com"
    watchingEnabled: true

jobs:
  - script: |
      pipelineJob('domain-monitoring-system') {
        description('Domain Monitoring System')
        properties {
          githubProjectUrl('https://github.com/danielmazh/domain-monitoring-system.git')
        }
        triggers {
          githubPush()
        }
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://github.com/danielmazh/domain-monitoring-system.git')
                  credentials('git-new-new')
                }
                branch('*/main')
              }
            }
            scriptPath('Jenkinsfile.groovy')
          }
        }
      }

      pipelineJob('dms-deploy-app') {
        description('Deploy Domain Monitoring System via pipeline script')
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://github.com/danielmazh/devops-managment.git')
                  credentials('git-new-new')
                }
                branch('*/main')
              }
            }
            scriptPath('projects/domain-monitoring-system/scripts/deploy-dms-app.groovy')
            lightweight(true)
          }
        }
        configure { project ->
          def mail = project / 'publishers' / 'hudson.plugins.emailext.ExtendedEmailPublisher'
          mail.appendNode('recipientList', '$DEFAULT_RECIPIENTS')
          mail.appendNode('defaultSubject', '$DEFAULT_SUBJECT')
          mail.appendNode('defaultContent', '$DEFAULT_CONTENT')
          mail.appendNode('contentType', 'default')
          def triggers = mail.appendNode('configuredTriggers')
          def failure = triggers.appendNode('hudson.plugins.emailext.plugins.trigger.FailureTrigger')
          def email = failure.appendNode('email')
          email.appendNode('recipientList', '$DEFAULT_RECIPIENTS')
          email.appendNode('subject', '$DEFAULT_SUBJECT')
          email.appendNode('body', '$DEFAULT_CONTENT')
          email.appendNode('sendToDevelopers', false)
          email.appendNode('sendToRequester', false)
          email.appendNode('includeCulprits', true)
          email.appendNode('sendToRecipientList', true)
          email.appendNode('attachmentsPattern', '')
          email.appendNode('attachBuildLog', false)
          email.appendNode('compressBuildLog', false)
          email.appendNode('replyTo', '$DEFAULT_REPLYTO')
          email.appendNode('contentType', 'default')
        }
      }

      pipelineJob('dms-destroy-app') {
        description('Destroy Domain Monitoring System')
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://github.com/danielmazh/devops-managment.git')
                  credentials('git-new-new')
                }
                branch('*/main')
              }
            }
            scriptPath('projects/domain-monitoring-system/scripts/destroy-dms-app.groovy')
            lightweight(true)
          }
        }
        configure { project ->
          def mail = project / 'publishers' / 'hudson.plugins.emailext.ExtendedEmailPublisher'
          mail.appendNode('recipientList', '$DEFAULT_RECIPIENTS')
          mail.appendNode('defaultSubject', '$DEFAULT_SUBJECT')
          mail.appendNode('defaultContent', '$DEFAULT_CONTENT')
          mail.appendNode('contentType', 'default')
          def triggers = mail.appendNode('configuredTriggers')
          def failure = triggers.appendNode('hudson.plugins.emailext.plugins.trigger.FailureTrigger')
          def email = failure.appendNode('email')
          email.appendNode('recipientList', '$DEFAULT_RECIPIENTS')
          email.appendNode('subject', '$DEFAULT_SUBJECT')
          email.appendNode('body', '$DEFAULT_CONTENT')
          email.appendNode('sendToDevelopers', false)
          email.appendNode('sendToRequester', false)
          email.appendNode('includeCulprits', true)
          email.appendNode('sendToRecipientList', true)
          email.appendNode('attachmentsPattern', '')
          email.appendNode('attachBuildLog', false)
          email.appendNode('compressBuildLog', false)
          email.appendNode('replyTo', '$DEFAULT_REPLYTO')
          email.appendNode('contentType', 'default')
        }
      }
