jenkins:
  systemMessage: "Jenkins is a CI/CD tool that allows you to build, test, and deploy your code."
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "${JENKINS_ADMIN_PASSWORD}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: true

  nodes:
    - permanent:
        name: "jenkins-slave"
        nodeDescription: "An inbound agent configured with JCasC"
        remoteFS: "/var/jenkins_home"
        numExecutors: 2
        labelString: "jenkins-slave-team-3-new"
        mode: NORMAL
        retentionStrategy:
          always: {}
        launcher:
          inbound:
            workDirSettings:
              disabled: true
              internalDir: "remoting"
              workDirPath: "/var/jenkins_home"
              failIfWorkDirIsMissing: false

credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              id: "git-new-new"
              scope: GLOBAL
              description: "git-new-new"
              username: "${GIT_NEW_NEW_USERNAME}"
              password: "${GIT_NEW_NEW_PASSWORD}"
          - usernamePassword:
              id: "docker-hub-token"
              scope: GLOBAL
              description: "docker-hub-token"
              username: "${DOCKER_HUB_USERNAME}"
              password: "${DOCKER_HUB_PASSWORD}"

unclassified:
  location:
    adminAddress: "team3jenkins@no-replay.com"
    url: "http://localhost:8080/"
  mailer:
    smtpHost: "smtp.gmail.com"
    smtpPort: "587"
    useSsl: true
    authentication:
      usernamePassword:
        username: "${SMTP_USERNAME}"
        password: "${SMTP_PASSWORD}"
    replyToAddress: "team3jenkins@no-replay.com"
  extendedEmailPublisher:
    adminRequiredForTemplateTesting: false
    allowUnregisteredEnabled: true
    charset: "UTF-8"
    debugMode: false
    defaultBody: |
      $PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS:

      Check console output at $BUILD_URL to view the results.
    defaultSubject: "$PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS!"
    defaultSuffix: "@gmail.com"
    maxAttachmentSize: -1
    recipientList: "coperman12@gmail.com, daniel.mazhbits@gmail.com"
    smtpServer: "smtp.gmail.com"
    smtpPort: "587"
    useSsl: true
    watchingEnabled: true
    auth:
      usernamePassword:
        username: "${SMTP_USERNAME}"
        password: "${SMTP_PASSWORD}"

jobs:
  - script: |
      pipelineJob('domain-monitoring-system') {
        description('Domain Monitoring System')
        properties {
          githubProjectUrl('https://github.com/danielmazh/domain-monitoring-system.git')
        }
        triggers {
          githubPush()
        }
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://github.com/danielmazh/domain-monitoring-system.git')
                  credentials('git-new-new')
                }
                branch('*/main')
              }
            }
            scriptPath('Jenkinsfile.groovy')
          }
        }
      }
